<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1" style="width:50%" align="center">
        <thead align="center">
            <th>글 번호</th>
            <th>유저번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </thead>

        {% if posts %}
        {% for post in posts %}
        <tr align="center">
            <td>{{ post.post_number }}</td>
            <td>{{ post.id }}</td>
            <td><A href="../read/{{ post.post_number }}" target=_self>{{ post.title }}</A></td>
            <td>{{ post.posting_time }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>

</html>