<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p align="center" style="font-size:2rem;">게시판</p>
    <table border="1" style="width:50%" align="center">
        <thead align="center">
            <th>글 번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일시</th>
        </thead>

        {% if posts %}
        {% for post in posts %}
        <tr align="center">
            <td>{{ post.post_number }}</td>
            <td>{{ post.id.name }}</td>
            <td><A href="../read/{{ post.post_number }}" target=_self>{{ post.title }}</A></td>
            <td>{{ post.posting_time }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr align="center">
            <td>
                <button type="button" onclick="location.href='../write'">글쓰기</button>
            </td>
        </tr>
        
    </table>

</body>

</html>