{% extends "base.html" %}
{% block content %}
    <article>
        <nav>
            <a href="#public">Public embeds</a>
            <a href="#signed">Signed embeds</a>
        </nav>

        <hr />

        <section id="public">
            <iframe
			   src="http://localhost:3000/public/dashboard/e104be98-2ea1-4dce-abff-aa3cfeddfe40"
               frameborder="0"
               width="800"
               height="600"
               allowtransparency
           >
           </iframe>

            <iframe
                src="http://localhost:3000/public/question/938a446c-da62-479a-a1bd-913cd29a77ef"
                frameborder="0"   
                width="800"
                height="600"
                allowtransparency
            >
            </iframe>
        </section>

        <section id="signed">
            <h2>Signed Embedding</h2>
            <a href="/signed_dashboard/2">An example of a specific User's dashboard</a>
            
            <a href="/signed_chart/2">An example of a specific User's chart</a>
            
            <a href="/signed_public_dashboard">An example of a public signed dashboard</a>
        </section>
    </article>
{% endblock %}
